@import '../../scss/_variables.scss';

.projects-page {
    top: 40%;

    section {
        margin: 0 auto;
        text-align: center;

        h1 {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(lg) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(xl) {
        grid-template-columns: repeat(4, 1fr);
    }
}