@import '../../../scss/_variables.scss';

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(64, 64, 64, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 40%;
    padding: 10px 20px 10px 20px;
}

.modal-button {
    border-radius: 50%;
    background-color: $primary-color;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}