@import '../../../scss/_variables.scss';

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 1rem 0;
}

.form-group {
    width: 100%;

    label {
        margin-left: 1rem;
    }

    input {
        margin: 0 0.5rem;

        &.half-row {
            width: 84%;
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.form-input {
    width: 92%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
}

.form-input:focus {
    outline: none;
    border-color: var(--emphasis-color);
}


.message-area {
    margin: 0 0.5rem;
    min-height: 10rem;
}

.btn {
    &__submit {
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: var(--primary-color-darker);
        }

        &:active {
            background-color: var(--primary-color-darkest);
        }
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(64, 64, 64, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 40%;
    padding: 10px 20px 10px 20px;
}

.modal-button {
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}