@import '../../scss/_variables.scss';

.contact-page {
    top: 20%;
    align-items: center;

    @include breakpoint(md) {
        justify-content: space-around;
        align-items: center;
    }
    
}

.contact-info {
    display: block;
    padding: 2rem;
    margin: 2rem 4rem;
    height: 296px;
    width: 80%;
    max-width: 361px;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 16px;
    box-shadow: 2px 2px 6px #bbb;

    @include breakpoint(md) {
        min-width: 320px;
        margin: 0 4rem;
    }

    h2 {
        margin-left: 1rem;
    }
}
