@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-light: #F5F5F5;
    --bg-dark: #1A1A1A;
    --primary: #7286D3;
    --primary-light: #A0B9E8;
    --primary-dark: #4A5C8A;
    --secondary: #FFA5A5;
    --secondary-light: #FFB4B4;
    --secondary-dark: #FF7F7F;
    --accent-1: #9ED2BE;
}

@layer base {
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('./assets/fonts/helvetica-neu.ttf') format('tff');
    }

    * {
        box-sizing: border-box;
        margin: 0;
    }

    html {
        font-size: 1rem;
    }
    
    body {
        width: 100%;
        display: block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}