// Colors
// Dark mode
$dark-primary-color: #7286D3;
$dark-secondary-color: #FFB4B4;
$dark-accent-color: #9ED2BE;
$dark-bg-color: #000;
$dark-text-color: #fff;
$dark-emphasis-color: #FB2576;
$dark-border-color: #ccc;
$dark-border-shadow-color: #bbb;
// Light mode 
$light-primary-color: #7286D3;
$light-secondary-color: #FFB4B4;
$light-accent-color: #9ED2BE;
$light-bg-color: #fff;
$light-text-color: #000;
$light-emphasis-color: #FB2576;
$light-border-color: #ccc;
$light-border-shadow-color: #bbb;

// Spacing
$spacing-md: 48px;
$spacing-lg: 64px;

$border-radius: 12px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    } @else if $point == lg {
        // 1024px
        @media (min-width: 64em) {
            @content;
        }
    } @else if $point == xl {
        // 1280px
        @media (min-width: 80em) {
            @content;
        }
    }
}