$primary-color: #7286D3;
$secondary-color: #FFB4B4;
$accent: #9ED2BE;
$bg: #fff;
$emphasis: #FB2576;

$spacing-md: 48px;
$spacing-lg: 64px;

$border-radius: 12px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    } @else if $point == lg {
        // 1024px
        @media (min-width: 64em) {
            @content;
        }
    } @else if $point == xl {
        // 1280px
        @media (min-width: 80em) {
            @content;
        }
    }
}

:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    accentColor: $accent;
    bgColor: $bg;
}